---
import Pagination from "../../components/Pagination.astro";
---

<div class="py-20 border-b">
  <h2 class="font-sans text-4xl font-bold">Pagination</h2>

  <div class="flex justify-center m-auto my-10">
    <Pagination total={53} current={1} pagesPerView={10} />
  </div>

  <div class="flex justify-center m-auto my-10">
    <Pagination total={53} current={13} pagesPerView={10} />
  </div>

  <div class="flex justify-center m-auto my-10">
    <Pagination total={53} current={53} pagesPerView={10} />
  </div>

  <div class="flex justify-center m-auto my-10">
    <Pagination total={1} />
  </div>
</div>
