---
import GuideTypeColor from "./_GuideTypeColor.astro";
---

<div class="py-20 border-b">
  <h2 class="font-sans text-4xl font-bold">Typeface</h2>

  <div class="my-10">
    <div class="flex mt-5 space-x-10">
      <!-- Bold -->
      <div>
        <dl class="font-bold w-80">
          <dt>
            <div class="flex items-center justify-center h-24 text-2xl bg-gray-200 rounded">Bold</div>
          </dt>

          <dd class="flex items-center justify-between">
            <div>
              <span class="text-[45px]">45px</span>
              <span class="text-[35px] ml-5">35px</span>
            </div>
            <div><GuideTypeColor color="#222222" /></div>
          </dd>

          <dd class="flex items-center justify-between pt-5">
            <div>
              <span class="text-[24px]">24px</span>
              <span class="text-[22px] ml-5">22px</span>
            </div>
            <div><GuideTypeColor color="#222222" /></div>
          </dd>

          <dd class="flex items-center justify-between pt-5">
            <div>
              <span class="text-[18px]">18px</span>
            </div>
            <div><GuideTypeColor color="#337ad3" /></div>
          </dd>
        </dl>
      </div>

      <!-- Medium -->
      <div>
        <dl class="font-medium w-80">
          <dt>
            <div class="flex items-center justify-center h-24 text-2xl bg-gray-200 rounded">Medium</div>
          </dt>

          <dd class="flex items-center pt-5">
            <div class="min-w-[50px]">
              <span class="text-[18px]">18px</span>
            </div>
            <div class="flex flex-wrap gap-2">
              <div><GuideTypeColor color="#222222" /></div>
              <div><GuideTypeColor color="#ffffff" /></div>
            </div>
          </dd>

          <dd class="flex items-center pt-5">
            <div class="min-w-[50px]">
              <span class="text-[15px]">15px</span>
            </div>
            <div class="flex flex-wrap gap-2">
              <div><GuideTypeColor color="#222222" /></div>
              <div><GuideTypeColor color="#337ad3" /></div>
              <div><GuideTypeColor color="#999999" /></div>
            </div>
          </dd>
        </dl>
      </div>

      <!-- Regular -->
      <div>
        <dl class="font-normal w-80">
          <dt>
            <div class="flex items-center justify-center h-24 text-2xl bg-gray-200 rounded">Regular</div>
          </dt>

          <dd class="flex items-center pt-5">
            <div class="min-w-[50px] self-start">
              <span class="text-[16px]">16px</span>
            </div>
            <div class="flex flex-wrap gap-2 pt-1">
              <div><GuideTypeColor color="#222222" /></div>
              <div><GuideTypeColor color="#444444" /></div>
              <div><GuideTypeColor color="#777777" /></div>
              <div><GuideTypeColor color="#ffffff" /></div>
            </div>
          </dd>

          <dd class="flex items-center pt-5">
            <div class="min-w-[50px]">
              <span class="text-[15px]">15px</span>
            </div>
            <div class="flex gap-2">
              <div><GuideTypeColor color="#222222" /></div>
            </div>
          </dd>

          <dd class="flex items-center pt-5">
            <div class="min-w-[50px]">
              <span class="text-[14px]">14px</span>
            </div>
            <div class="flex gap-2">
              <div><GuideTypeColor color="#ffffff" /></div>
            </div>
          </dd>
        </dl>
      </div>

      <!-- DemiLight -->
      <div>
        <dl class="font-light w-80">
          <dt>
            <div class="flex items-center justify-center h-24 text-2xl bg-gray-200 rounded">DemiLight</div>
          </dt>

          <dd class="flex items-center pt-5">
            <div class="min-w-[50px]">
              <span class="text-[15px]">15px</span>
            </div>
            <div class="flex gap-2">
              <div><GuideTypeColor color="#222222" /></div>
              <div><GuideTypeColor color="#444444" /></div>
              <div><GuideTypeColor color="#777777" /></div>
            </div>
          </dd>

          <dd class="flex items-center pt-5">
            <div class="min-w-[50px]">
              <span class="text-[14px]">14px</span>
            </div>
            <div class="flex gap-2">
              <div><GuideTypeColor color="#222222" /></div>
              <div><GuideTypeColor color="#444444" /></div>
              <div><GuideTypeColor color="#777777" /></div>
            </div>
          </dd>

          <dd class="flex items-center pt-5">
            <div class="min-w-[50px]">
              <span class="text-[13px]">13px</span>
            </div>
            <div class="flex gap-2">
              <div><GuideTypeColor color="#222222" /></div>
              <div><GuideTypeColor color="#444444" /></div>
              <div><GuideTypeColor color="#777777" /></div>
            </div>
          </dd>

          <dd class="flex items-center pt-5">
            <div class="min-w-[50px]">
              <span class="text-[12px]">13px</span>
            </div>
            <div class="flex gap-2">
              <div><GuideTypeColor color="#999999" /></div>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
