---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div>aaa</div>
  <Button type="button" size="normal" />
  <Button type="button" size="small" num="90" />
</Layout>
