<div class="flex items-center gap-x-3">
  <button type="button" class="comment__edit inline-flex items-center justify-center text-[13px] text-[#aaa]"> 수정</button>
  <div class="h-3 border-l"></div>
  <button type="button" class="comment__delete inline-flex items-center justify-center text-[13px] text-[#aaa]"> 삭제</button>
</div>
