<div class="relative">
  <div class="absolute inset-y-0 left-[30px] flex items-center pointer-events-none">
    <i class="icon-id"></i>
  </div>
  <input
    type="text"
    id="id"
    class="block w-full h-[60px] text-[#091432] text-[20px] bg-white border-transparent rounded-[15px] focus:border-[#183477] focus:border-[2px] focus:ring-0 pl-[105px] placeholder:text-[#999] font-light focus:placeholder:text-transparent"
    placeholder="ID"
  />
</div>
