<div class="flex justify-center reply__close">
  <button type="button" class="flex items-center space-x-1 text-sm">
    <span>답글 접기</span>
    <svg class="w-[14px] h-[14px]" fill="none" stroke="currentColor" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
    </svg>
  </button>
</div>
